<div class="container">
  <h2>Animal da propriedade {{propriedade.nome}}</h2>

  @if ((animais$ | async); as animais) {
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Nome</td>
          <td>Brinco</td>
          <td>Nascimento</td>
          <td>Num Registro</td>
          <td>Sexo</td>
          <td>Raça</td>
          <td>Lote</td>
          <td><a routerLink="novo" class="btn btn-success">Cadastrar Animal</a></td>
        </tr>
        @if (animais.length == 0) {
          <tr>
            <td colspan="6">
              <span>Não há animais cadastrados na propriedade <b>{{ propriedade.nome}}</b></span>
            </td>
          </tr>
        }
      </thead>
      <tbody>
        @for (animal of animais; track animal) {
          <tr>
            <td>{{animal.nome}}</td>
            <td>{{animal.brinco}}</td>
            <td>{{animal.dataNasc | date: 'dd/MM/yyyy' }}</td>
            <td>{{animal.registro}}</td>
            <td>
              @if (animal.sexo == 'f') {
                <label>Fêmea </label>
              }
              @if (animal.sexo == 'm') {
                <label>Macho </label>
              }
            </td>
            <td>{{animal.raca.descricao}}</td>
            <td>{{animal.lote.descricao}}</td>
            <td>
              <a [routerLink]="[animal.id]" class="btn btn-info" > Detalhes</a>
              <a [routerLink]="[animal.id, 'alterar']" class="btn btn-info" > Alterar</a>
              <!-- <button (click)="baixaAnimal(animal)"class="btn btn-danger bi-trash" >Baixa</button> -->
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <span>Carregando tabela de animais...</span>
  }
  <ng-template #baixaModal>
    <div class="modal-body text-center">
      <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" class="needs-validation" [ngClass]="aplicaErroForm(f)" novalidate>
        <label for="motBaixas">Informe o motivo da baixa:</label>
        <select class="form-select" id="motBaixas" name="motBaixas" required [(ngModel)]="motivoSelected" >
          @for (motivo of motivosBaixa; track motivo) {
            <option [ngValue]="motivo" >{{motivo.descricao}}</option>
          }
        </select>
        <div class="invalid-feedback">
          Você deve informar o motivo da baixa!
        </div>
        <p>Confirma a baixa do animal?</p>
        <button type="submit" class="btn btn-default" >Sim</button>
        <!-- <button type="button" class="btn btn-primary" (click)="onDeclineBaixa()" >Não</button> -->
      </form>
    </div>
  </ng-template>
</div>