<div class="container">
    <div class="panel-heading" *ngIf="propriedadeSelecionada">
        <h2>Animais da propriedade {{propriedade.nome}}</h2>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Brinco</td>
                        <td>Nascimento</td>
                        <td>Num Registro</td>
                        <td>Sexo</td>
                        <td>Raça</td>
                        <td><a routerLink="novo" class="btn btn-success">Criar Animal</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of animais">
                        <td>{{animal.nome}}</td>
                        <td>{{animal.brinco}}</td>
                        <td>{{animal.dataNasc | date: 'dd/MM/yyyy' }}</td>
                        <td>{{animal.registro}}</td>
                        <td>
                            <label *ngIf="animal.sexo == 'f'">Fêmea </label>
                            <label *ngIf="animal.sexo == 'm'">Macho </label>
                        </td>
                        <td>{{animal.raca.descricao}}</td>
                        <td>
                            <a [routerLink]="[animal.id]" class="btn btn-info" style="margin-left: 10px"> Detalhes</a>
                            <a [routerLink]="[animal.id, 'alterar']" class="btn btn-info" style="margin-left: 10px"> Alterar</a>
                            <button (click)="deletarAnimal(animal.id)"class="btn btn-danger bi-trash" style="margin-left: 10px"></button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="panel-body" *ngIf="!propriedadeSelecionada">
        <h1>Selecione de qual propriedade deseja listar os animais:</h1>
        <app-propriedade></app-propriedade>
    </div>
</div>