<div class="container">
    <div class="panel-heading" *ngIf="propriedade">
        <h2>Animais da propriedade {{propriedade.nome}}</h2>

        <div class="panel-body">
            <table class="table table-striped" *ngIf="(animais$ | async) as animais; else loading">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Brinco</td>
                        <td>Nascimento</td>
                        <td>Num Registro</td>
                        <td>Sexo</td>
                        <td>Raça</td>
                        <td><a routerLink="novo" class="btn btn-success">Criar Animal</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of animais">
                        <td>{{animal.nome}}</td>
                        <td>{{animal.brinco}}</td>
                        <td>{{animal.dataNasc | date: 'dd/MM/yyyy' }}</td>
                        <td>{{animal.registro}}</td>
                        <td>
                            <label *ngIf="animal.sexo == 'f'">Fêmea </label>
                            <label *ngIf="animal.sexo == 'm'">Macho </label>
                        </td>
                        <td>{{animal.raca.descricao}}</td>
                        <td>
                            <a [routerLink]="[animal.id]" class="btn btn-info" > Detalhes</a>
                            <a [routerLink]="[animal.id, 'alterar']" class="btn btn-info" > Alterar</a>
                            <button (click)="baixaAnimal(animal)"class="btn btn-danger bi-trash" >Baixa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #loading>
                <span>Carregando tabela de animais...</span>
            </ng-template>
        </div>
    </div>
    <div class="panel-body" *ngIf="!propriedade">
        <h1>Selecione de qual propriedade deseja listar os animais:</h1>
        <app-propriedade></app-propriedade>
    </div>
</div>

<ng-template #baixaModal>
    <div class="modal-body text-center">
        <label for="motBaixas">Informe o motivo da baixa:</label>
        <select class="form-control" id="motBaixas" name="motBaixas" required [(ngModel)]="motivoSelected" >
            <option *ngFor="let motivo of motivosBaixa" [ngValue]="motivo" >{{motivo.descricao}}</option>
        </select> 
        <p>Confirma a baixa do animal?</p>
        <button type="button" class="btn btn-default" (click)="onConfirmBaixa()" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="onDeclineBaixa()" >Não</button>
    </div>
</ng-template>