<div class="container">
  <h2>Lista de Cobertura</h2>
  @if ((coberturas$ | async); as coberturas) {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Vaca</th>
          <th>Tipo de cobertura</th>
          <th>Observações</th>
          <th><a routerLink="nova" class="btn btn-success">Registrar cobertura</a></th>
        </tr>
        @if (coberturas.length == 0) {
          <tr>
            <td colspan="6">
              <span>Não há coberturas em andamento na propriedade <b>{{ propriedade.nome}}</b></span>
            </td>
          </tr>
        }
      </thead>
      <tbody>
        @for (cobertura of coberturas; track cobertura) {
          <tr>
            <td>{{cobertura.data | date: 'dd/MM/yyyy' }}</td>
            <td>{{cobertura.vaca.nome}}</td>
            <td><label>{{cobertura.tipoCobertura.descricao}}</label></td>
            <td>{{cobertura.observacao}}</td>
            <td>
              <a [routerLink]="[cobertura.id]" class="btn btn-info" > Detalhes</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <span>Carregando tabela de coberturas...</span>
  }
</div>