<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Propriedade</h2>
  </div>
  <div class="panel-body">
    @if ((propriedades$ | async); as propriedades) {
      <table class="table table-striped">
        <thead>
          @if (propriedades.length > 0) {
            <tr>
              <td>#</td>
              <td>Nome</td>
              <td>Localidade</td>
              <td>Municipio</td>
              <td><a routerLink="/propriedade/nova" class="btn btn-success">Cadastrar propriedade</a></td>
            </tr>
          }
          @if (propriedades.length == 0) {
            <tr>
              <td colspan="6">
                <span>Você ainda não possui nenhuma propriedade cadastrada. <a routerLink="/propriedade/nova" class="btn btn-success">Cadastre uma agora</a> </span>
              </td>
            </tr>
          }
        </thead>
        <tbody>
          @for (propriedade of propriedades; track propriedade) {
            <tr>
              <td>{{propriedade.id}}</td>
              <td>{{propriedade.nome}}</td>
              <td>{{propriedade.localidade}}</td>
              <td>{{propriedade.municipio}}</td>
              <td>
                <a [routerLink]="[propriedade.id]" class="btn btn-info">Detalhes</a>
                <a [routerLink]="[propriedade.id,'alterar']" class="btn btn-info"> Alterar</a>
                <button (click)="deletarPropriedade(propriedade.id)" class="btn btn-danger">Deletar</button>
                <button (click)="selecionarPropriedade(propriedade)" class="btn btn-primary">Selecionar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <span>Carregando tabela de propriedades...</span>
    }
  </div>
</div>