<h3>Lote</h3>
@if ((lotes$ | async); as lotes) {
  <table class="table table-hover table-striped table-sm">
    <thead>
      <tr>
        <th>Descrição</th>
        <th><a routerLink="novo" class="btn btn-success">Cadastrar Lote</a></th>
      </tr>
      @if (lotes.length == 0) {
        <tr>
          <td colspan="2">
            <span>Não há lotes registrado nesta propriedade </span>
          </td>
        </tr>
      }
    </thead>
    <tbody>
      @for (lote of lotes; track lote) {
        <tr>
          <td>{{lote.descricao}}</td>
          <td width="150px"><a class="btn btn-info"> Alterar</a></td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <span>Carregando Lote...</span>
}
