<h2>Registrar cobertura</h2>
<div  class="container">
    <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" class="needs-validation" [ngClass]="aplicaErroForm(f)" novalidate>
        
        <div class="form-group row"> 
            <div class="col-sm-2" style="min-width: 170px;">
                <label for="datac">Data da cobertura: *</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="datac" name="datac" required [(ngModel)]="cobertura.data">
                    <div class="invalid-feedback">
                        Data de cobertura é um campo obrigatório.
                    </div>  
                </div>
            </div>
            <div class="col-sm-3" style="min-width: 170px;">
                <label for="tipoCobertura">Tipo de cobertura: *</label>
                <select class="form-select" id="tipoCobertura" name="tipoCobertura" required [(ngModel)]="cobertura.tipoCobertura" (change)="alterarTipo()" >
                    <option *ngFor="let tipo of TipoCobertura" [ngValue]="tipo">{{tipo.descricao}}</option>
                </select>
                <div class="invalid-feedback">
                    Tipo de cobertura é um campo obrigatório.
                </div>
            </div>

            <div class="col-sm-7">
                <label for="vaca">Vaca: *</label>
                <select class="form-select" id="vaca" name="vaca" required [(ngModel)]="cobertura.vaca" >
                    <option *ngFor="let vaca of vacas" [ngValue]="vaca">Brinco: {{vaca.brinco}} - {{vaca.nome}}</option>
                </select>
                <div class="invalid-feedback">
                    Você deve informar qual vaca será realizado o registro de cobertura.
                </div>
            </div>
        </div>
        <div class="card col my-2" style="min-height: 90px;" >
            <div class="card-body" *ngIf="!cobertura.tipoCobertura"> 
                <h5 class="card-title">Informe um tipo de cobertura</h5> 
            </div>
            <div class="card-body" *ngIf="cobertura.tipoCobertura?.descricao == 'Monta'">
                <div class="form-group row" >
                    <div class="col-sm-2">
                        <label class="form-check-label">Monta controlada:</label><br>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="sim" name="montac" required value="true" [(ngModel)]="cobertura.montaControlada">
                            <label class="form-check-label" for="sim"> Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="nao" name="montac" required value="false" [(ngModel)]="cobertura.montaControlada">
                            <label class="form-check-label" for="nao">Não</label>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <label for="touroMonta">Touro Monta:</label>
                        <select class="form-select" id="touroMonta" name="touroMonta" required [(ngModel)]="cobertura.touroMonta" >
                            <option *ngFor="let touroMonta of tourosMonta" [ngValue]="touroMonta">{{touroMonta.nome}} Brinco: {{touroMonta.brinco}}</option>
                        </select>
                        <div class="invalid-feedback">
                            Touro Monta é um campo obrigatório.
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body" *ngIf="cobertura.tipoCobertura?.descricao == 'Inseminação'">
                <div class="form-group row" >
                    <div class="col-sm-12">
                        <label for="inseminador">Inseminador:</label>
                        <select class="form-select" id="inseminador" name="inseminador" required [(ngModel)]="cobertura.inseminador">
                            <option *ngFor="let inseminador of inseminadores" [ngValue]="inseminador">{{inseminador.nome}}</option>
                        </select>
                        <div class="invalid-feedback">
                            Inseminador é um campo obrigatório.
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <label for="qtdeDoses">Doses:</label>
                        <input type="number" class="form-control" id="qtdeDoses" name="qtdeDoses" required [(ngModel)]="cobertura.qtdeDoseSemen">
                    </div>
                    <div class="invalid-feedback">
                        Número de doses é um campo obrigatório.
                    </div>

                    <div class="col-sm-7">
                        <label for="semen">Semên, códogo da palheta:</label>
                        <select class="form-select" id="semen" name="semen" required [(ngModel)]="cobertura.semens">
                            <option *ngFor="let semen of semens" [ngValue]="semen">{{semen.codPalheta}} - Touro: {{ semen.animalDoador.animal.nome }}</option>
                        </select>
                        <div class="invalid-feedback">
                            Sêmen é um campo obrigatório.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <label for="escoreCorporal" class="form-label">Escore Corporal:</label>
                <input type="range" class="form-range" id="escoreCorporal" name="escoreCorporal" min="1" max="5" step="0.5"  [(ngModel)]="cobertura.escoreCorporal">
                <label class="form-label" >  {{cobertura.escoreCorporal}}</label>
                <label class="form-label" *ngIf="cobertura.escoreCorporal == null" > (Informe o EC)</label>
            </div>
        </div>

        <div class="form-group">
            <label for="obs">Observações:</label>
            <textarea class="form-control" id="obs" name="obs" rows="5" [(ngModel)]="cobertura.observacao"></textarea>
        </div>

        <div class="form-group row my-3">
            <div class="form-group col-sm-6 ">
              <button type="submit" class="btn btn-success border">Salvar</button>
              <button (click)="voltar()" class="btn btn-info border">Cancelar</button>
            </div>
        </div>
        
        <div class="row my-3">
            <div class="col-sm-6">
                <div class="alert alert-success" *ngIf="isSuccessful">
                    <h4>Cobertura cadastrada com sucesso!</h4>
                </div>
                <div class="alert alert-warning" *ngIf="errorMessage!=''">
                       <h4>Falha ao cadastrar cobertura!</h4> <br/>{{ errorMessage }}
                </div>
            </div>
        </div>

    </form>
</div>


