<h2>Registrar cobertura</h2>
<div  class="container">
  <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" class="needs-validation" [ngClass]="aplicaErroForm(f)" novalidate>

    @if (isSuccessful) {
      <div class="alert alert-success">
        <h4>Cobertura cadastrada com sucesso!</h4>
      </div>
    }
    @if (errorMessage!='' && !isSuccessful) {
      <div class="alert alert-warning">
        <h4>Falha ao cadastrar cobertura!</h4><br/>
        <pre>{{ errorMessage | json }}</pre>
      </div>
    }
    @if (!vacaSelecionada) {
      <div class="form-group row">
        <div class="col-sm-7">
          <label for="vaca">Vaca: *</label>
          <select class="form-select" id="vaca" name="vaca" required [(ngModel)]="vacaSelecionada">
            @for (vaca of vacasCob$ | async; track vaca) {
              <option [ngValue]="vaca">Brinco: {{vaca.brinco}} - {{vaca.nome}}</option>
            }
          </select>
          <div class="invalid-feedback">
            Você deve informar qual vaca será realizado o registro de cobertura.
          </div>
        </div>
        <h4>Selecione uma Vaca</h4>
      </div>
    }
    @if (vacaSelecionada) {
      <div>
        <div class="form-group row">
          <div class="col-sm-11" >
            <app-card-detalhes-animal [animal]="vacaSelecionada"> </app-card-detalhes-animal>
          </div>
          <div class="col-sm-1">
            <button (click)="alterarVaca(f)" class="btn btn-success border">Alterar Vaca</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2" style="min-width: 170px;">
            <label for="datac">Data da cobertura: *</label>
            <div class="input-group">
              <input type="date" class="form-control" id="datac" name="datac" required [(ngModel)]="cobertura.data">
              <div class="invalid-feedback">
                Data de cobertura é um campo obrigatório.
              </div>
            </div>
          </div>
          <div class="col-sm-3" style="min-width: 170px;">
            <label for="tipoCobertura">Tipo de cobertura: *</label>
            <select class="form-select" id="tipoCobertura" name="tipoCobertura" required [(ngModel)]="cobertura.tipoCobertura" (change)="alterarTipo()" >
              @for (tipo of TipoCobertura; track tipo) {
                <option [ngValue]="tipo">{{tipo.descricao}}</option>
              }
            </select>
            <div class="invalid-feedback">
              Tipo de cobertura é um campo obrigatório.
            </div>
          </div>
          <div class="col-sm-3">
            <label for="escoreCorporal" class="form-label">Escore Corporal:</label>
            <input type="range" class="form-range" id="escoreCorporal" name="escoreCorporal" min="1" max="5" step="0.5"  [(ngModel)]="cobertura.escoreCorporal">
            <label class="form-label" >  {{cobertura.escoreCorporal}}</label>
            @if (cobertura.escoreCorporal == null) {
              <label class="form-label" > (Informe o EC)</label>
            }
          </div>
        </div>
        <div class="card col my-2" style="min-height: 90px;" >
          @if (!cobertura.tipoCobertura) {
            <div class="card-body">
              <h5 class="card-title">Informe um tipo de cobertura</h5>
            </div>
          }
          @if (cobertura.tipoCobertura?.descricao == 'Monta') {
            <div class="card-body">
              <div class="form-group row" >
                <div class="col-sm-2">
                  <label class="form-check-label">Monta controlada:</label><br>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="sim" name="montac"  value="true" required [(ngModel)]="cobertura.montaControlada">
                    <label class="form-check-label" for="sim"> Sim</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="nao" name="montac"  value="false" required [(ngModel)]="cobertura.montaControlada">
                    <label class="form-check-label" for="nao">Não</label>
                    <div class="invalid-feedback">
                      Informe se a monta é controlada.
                    </div>
                  </div>
                </div>
                <div class="col-sm-10">
                  <label for="touroMonta">Touro Monta:</label>
                  <select class="form-select" id="touroMonta" name="touroMonta" required [(ngModel)]="cobertura.touroMonta" >
                    @for (touroMonta of tourosMonta; track touroMonta) {
                      <option [ngValue]="touroMonta">{{touroMonta.nome}} -  Nasc.: {{touroMonta.dataNasc}} - Origem: {{touroMonta.origem}}  </option>
                    }
                  </select>
                  <div class="invalid-feedback">
                    Touro Monta é um campo obrigatório.
                  </div>
                </div>
              </div>
            </div>
          }
          @if (cobertura.tipoCobertura?.descricao == 'Inseminação') {
            <div class="card-body">
              <div class="form-group row" >
                <div class="col-sm-12">
                  <label for="inseminador">Inseminador:</label>
                  <select class="form-select" id="inseminador" name="inseminador" required [(ngModel)]="cobertura.inseminador">
                    @for (inseminador of inseminadores; track inseminador) {
                      <option [ngValue]="inseminador">{{inseminador.nome}}</option>
                    }
                  </select>
                  <div class="invalid-feedback">
                    Inseminador é um campo obrigatório.
                  </div>
                </div>
                <div class="col-sm-1">
                  <label for="qtdeDoses">Doses:</label>
                  <input type="number" class="form-control" id="qtdeDoses" name="qtdeDoses" required [(ngModel)]="cobertura.qtdeDoseSemen">
                </div>
                <div class="invalid-feedback">
                  Número de doses é um campo obrigatório.
                </div>
                <div class="col-sm-7">
                  <label for="semen">Semên, código da palheta:</label>
                  <select class="form-select" id="semen" name="semen" required [(ngModel)]="cobertura.semens">
                    @for (semen of semens; track semen) {
                      <option [ngValue]="semen">{{semen.codPalheta}} - Touro: {{ semen.animalDoador.animal.nome }}</option>
                    }
                  </select>
                  <div class="invalid-feedback">
                    Sêmen é um campo obrigatório.
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
        <div class="form-group">
          <label for="obs">Observações:</label>
          <textarea class="form-control" id="obs" name="obs" rows="5" [(ngModel)]="cobertura.observacao"></textarea>
        </div>
      </div>
    }
    <div class="form-group row my-3">
      <div class="form-group col-sm-6 ">
        <button type="submit" class="btn btn-success border">Salvar</button>
        <button (click)="voltar()" class="btn btn-info border">Cancelar</button>
      </div>
    </div>

  </form>
</div>


