@if ((vacinaAplicacoes$ | async); as vacinaAplicacoes) {
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Evento</td>
        <td>Vacina</td>
        <td>Dose</td>
        <td>Data</td>
        <td>Aplicador</td>
      </tr>
      @if (vacinaAplicacoes.length == 0) {
        <tr>
          <td colspan="6">
            <span>Não há registo de aplicação de vacinas para este animal</span>
          </td>
        </tr>
      }
    </thead>
    <tbody>
      @for (aplicacao of vacinaAplicacoes; track aplicacao) {
        <tr>
          <td>{{aplicacao.doencaEvento.descricao}}</td>
          <td>{{aplicacao.medicacao.descricao}}</td>
          <td>{{aplicacao.dose}}</td>
          <td>{{aplicacao.data | date: 'dd/MM/yyyy'}}</td>
          <td>{{aplicacao.aplicador.nome}}</td>
        </tr>
      }
    </tbody>
  </table>
}
