
<h3>Lactações</h3>
@if ((lactacoes$ | async); as lactacoes) {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Data de Início</th>
        <th>Data de Encerramento</th>
        <th>Finalizado?</th>
        <th>Causa do Encerramento</th>
        <th>Observações</th>
        <th></th>
      </tr>
      @if (lactacoes.length == 0) {
        <tr>
          <td colspan="6">
            <span>Não há lactações para esta vaca </span>
          </td>
        </tr>
      }
    </thead>
    <tbody>
      @for (lactacao of lactacoes; track lactacao) {
        <tr>
          <td>{{lactacao.dataInicio | date: 'dd/MM/yyyy' }}</td>
          <td>{{lactacao.dataEncerramento}}</td>
          <td>{{lactacao.finalizado}}</td>
          <td>{{lactacao.causaEncerramento?.descricao}}</td>
          <td>{{lactacao.observacao}}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <span>Carregando Lactações...</span>
}
