<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Leite Mais</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showPropriedadeBoard">
        <a href="/propriedade" class="nav-link" routerLink="propriedade">Minhas propriedades</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/animal" class="nav-link" routerLink="animal">Animais</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a href="/registro" class="nav-link" routerLink="registro">Registrar Usuario</a>
      </li>      
    </ul>


    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link">{{nome_propriedade}}</a>
      </li>
      <li class="nav-item">
        <a href="/painel" class="nav-link" routerLink="painel">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Desconectar</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>