  <nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarLeiteMais">
        <ul class="navbar-nav mr-auto" *ngIf="isLogged">
          <li class="nav-item">
            <button class="btn btn-dark bi bi-list" style="font-size: 1.5rem;" *ngIf="isLogged" (click)="open(content)"></button>
          </li>
        </ul>
      </div>
        <div class="d-flex">
          <ul class="navbar-nav ml-auto" *ngIf="isLogged">
            <li class="nav-item">
              <span class="navbar-brand mb-0 h1 d-flex align-items-center" *ngIf="nome_propriedade">{{nome_propriedade}}</span>
              <a routerLink="/propriedade" class="nav-link" *ngIf="!nome_propriedade">Selecione uma propriedade</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/painel" class="nav-link" >{{ username }}</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-dark nav-link" (click)="logout()">Desconectar</button>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" *ngIf="!isLogged">
            <li class="nav-item">
              <a routerLink="" class="nav-link" (click)="logout()">Login</a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link" [routerLink]="['/registro']">Registrar-se</a>
            </li>
          </ul>
        </div>
      
    </div>
  </nav>

  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvas-basic-title">Leite Mais</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
      <ngb-accordion [closeOthers]="true">
        <ngb-panel id="inicio" title="Início">
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a routerLink="/propriedade" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Propriedade</a></li>
              <li class="list-group-item"><a routerLink="/animal" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Animal</a></li>
              <li class="list-group-item"><a routerLink="/animal/lotes" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Lote</a></li>
              <li class="list-group-item"><a routerLink="/vacina" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Vacinas</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="reproducao" title="Reprodução">
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a routerLink="/animaisdoadores" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Animal doadores</a></li>
              <li class="list-group-item"><a routerLink="/semens" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Semen</a></li>
              <li class="list-group-item"><a routerLink="/cobertura" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Cobertura</a></li>
              <li class="list-group-item"><a routerLink="/diagnosticoprenhez" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Diagnóstico de prenhez</a></li>
              <li class="list-group-item"><a routerLink="/parto" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Parto</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="prodLeite" title="Produção de Leite">
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a routerLink="/producao" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Listar Produção</a></li>
              <li class="list-group-item"><a routerLink="/producao/novo" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Registrar Produção</a></li>
              <li class="list-group-item"><a routerLink="/lactacao/encerrar" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Encerar Lactação</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="painel" title="Painel">
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a routerLink="/painel" class="nav-link" (click)="offcanvas.dismiss('Cross click')">Menu</a></li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </ng-template>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
