<div class="container">
  <h2>Lista de Diagnósticos</h2>
  @if ((diagnosticos$ | async); as diagnosticos) {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Vaca</th>
          <th>Resultado</th>
          <th>Método de diagnóstico</th>
          <th>Observações</th>
          <th><a routerLink="novo" class="btn btn-success">Registrar diagnóstico</a></th>
        </tr>
        @if (diagnosticos.length == 0) {
          <tr>
            <td colspan="6">
              <span>Não há diagnósticos em andamento na propriedade <b>{{ propriedade.nome}}</b></span>
            </td>
          </tr>
        }
      </thead>
      <tbody>
        @for (diagnostico of diagnosticos; track diagnostico) {
          <tr>
            <td>{{diagnostico.data | date: 'dd/MM/yyyy' }}</td>
            <td>{{diagnostico.vaca.nome}}</td>
            <td>{{diagnostico.diagnostico}}</td>
            <td>{{diagnostico.metodoDiagnostico.descricao}}</td>
            <td colspan="2">{{diagnostico.observacao}}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <span>Carregando tabela de diagnósticos...</span>
  }
</div>