<div class="container">
  <h2>Lista de Parto</h2>
  @if ((partos$ | async); as partos) {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Vaca</th>
          <th>Tipo de parto</th>
          <th>Quantidade de crias</th>
          <th>Cobertura</th>
          <th>Diagnóstico de prenhez</th>
          <th><a routerLink="novo" class="btn btn-success">Registrar parto</a></th>
        </tr>
        @if (partos.length == 0) {
          <tr>
            <td colspan="6">
              <span>Não há partos na propriedade <b>{{ propriedade.nome}}</b></span>
            </td>
          </tr>
        }
      </thead>
      <tbody>
        @for (parto of partos; track parto) {
          <tr>
            <td>{{parto.data | date: 'dd/MM/yyyy' }}</td>
            <td>{{parto.vaca.nome}}</td>
            <td><label>{{parto.tiposParto.descricao}}</label></td>
            <td>{{parto.qtdeCrias}}</td>
            <td>@if (parto.coberturas) {
              <label>{{parto.coberturas.data | date: 'dd/MM/yyyy'}}</label>
            }</td>
            <td>@if (parto.diagnosticosPrenhez) {
              <label>{{parto.diagnosticosPrenhez.data | date: 'dd/MM/yyyy'}}</label>
            }</td>
            <td>
              <a [routerLink]="[parto.id]" class="btn btn-info" > Detalhes</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <span>Carregando tabela de partos...</span>
  }
</div>