<div class="container">
  <h2>Lista de Sêmens disponíveis</h2>
  @if ((semens$ | async); as semens) {
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Touro Doador</td>
          <td>Data de entrada</td>
          <td>Preço</td>
          <td>Quantidade</td>
          <td>Código da palheta</td>
          <td><a routerLink="novo" class="btn btn-success">Adicionar Semen</a></td>
        </tr>
        @if (semens.length == 0) {
          <tr>
            <td colspan="6">
              <span>Não há nenhum sêmen em estoque. </span>
            </td>
          </tr>
        }
      </thead>
      <tbody>
        @for (semen of semens; track semen) {
          <tr>
            <td>{{semen.animalDoador.animal.nome}}</td>
            <td>{{semen.dataEntrada| date: 'dd/MM/yyyy' }}</td>
            <td>{{semen.precoUnitario | currency }}</td>
            <td>{{semen.quantidade}}</td>
            <td>{{semen.codPalheta}}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <span>Carregando tabela de sêmens...</span>
  }
</div>