<h2>Detalhes do Animal</h2> 
<div class="container" *ngIf="animal">
  <div>
    <div *ngIf="animal.sexo == 'f'">
      <label><b>Sexo: </b>Fêmea</label> 
    </div>
    <div *ngIf="animal.sexo == 'm'">
      <label><b>Sexo: </b>Macho</label> 
    </div>
  </div> 

  <div class="form-group row" >
    <div class="col-sm-6">
      <label><b>Nome: </b>{{animal.nome}}</label> 
    </div>
    <div class="col-sm-6">
      <label><b>Raça: </b>{{ animal.raca?.descricao }}</label> 
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      <label><b>Número do brinco: </b>{{animal.brinco}}</label> 
    </div>
    <div class="col-sm-3">
      <label><b>Número do registro: </b>{{animal.registro}}</label> 
    </div> 
    <div class="col-sm-3">
      <label><b>Data de nascimento: </b>{{animal.dataNasc | date: 'dd/MM/yyyy'}}</label> 
    </div>
  </div>
  
  

  <div class="form-group row">
    <div class="col-sm-6">
      <label><b>Pai: </b>{{animal.pai!}}</label> 
    </div> 
    <div class="col-sm-6">
      <label><b>Mãe: </b>{{animal.mae!}}</label> 
    </div> 
  </div>
  
  <div class="form-group row">
    <div class="col-sm-6">
      <label><b>Pai ID: </b>{{ animal.id_pai?.nome }}</label> 
    </div> 
    <div class="col-sm-6">
      <label><b>Mãe ID: </b>{{ animal.id_mae?.nome }}</label> 
    </div>    
  </div>
</div>

<div *ngIf="mensagemErro" class="alert alert-danger">
  {{mensagemErro}}
</div>
<br>
<br>
<button (click)="voltar()" class="btn btn-primary">Voltar</button><br>