<h2>Adicionar Sêmen</h2>
<div  class="container">
    <form 
    name="form" 
    (ngSubmit)="f.form.valid && onSubmit()"     
    #f="ngForm">
        <div class="form-group">
            <label for="touroDoador">Touro Doador:</label>
            <select class="form-control" id="touroDoador" required [(ngModel)]="semen.animaisDoadores" name="touroDoador">
                <option *ngFor="let doador of animaisDoadores" [ngValue]="doador">{{doador.animal.nome}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="dataEntrada">Data de entrada:</label>
            <div class="input-group">
                <input type="date" class="form-control" name="dataEntrada" required [(ngModel)]="semen.dataEntrada" #dataEntrada="ngModel">
            </div>
            <div class="alert-danger" *ngIf="dataEntrada.errors && (dataEntrada.invalid && dataEntrada.touched)">
                <small class="text-danger" *ngIf="dataEntrada.errors.required">Data de entrada é um campo obrigatório</small>
              </div>
        </div>

        <div class="form-group">
            <label for="qtde">Quantidade</label>
            <input type="number" class="form-control" id="brinco" required  [(ngModel)]="semen.quantidade" name="qtde" #qtde="ngModel">
            
            <div class="alert-danger" *ngIf="qtde.errors && (qtde.invalid && qtde.touched)">
                <small class="text-danger" *ngIf="qtde.errors.required">Quantidade é um campo obrigatório</small>
              </div>
            
        </div>

        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="number" class="form-control" id="preco" required [(ngModel)]="semen.precoUnitario" #preco="ngModel" name="preco">
            <div class="alert-danger" *ngIf="preco.errors && (preco.invalid && preco.touched)">
                <small class="text-danger" *ngIf="preco.errors.required">Preço é um campo obrigatório</small>
            </div>
        </div>

        <div class="form-group">
            <label for="palheta">Código da palheta</label>
            <input type="number" class="form-control" id="palheta" required [(ngModel)]="semen.codPalheta" #palheta="ngModel" name="palheta">
            <div class="alert-danger" *ngIf="palheta.errors && (palheta.invalid && palheta.touched)">
                <small class="text-danger" *ngIf="palheta.errors.required">Código da palheta é um campo obrigatório</small>
            </div>
        </div>

        <button [disabled]="f.form.invalid" type="submit" class="btn btn-success">Salvar</button>
        <button (click)="irParaListagem()" class="btn btn-info float-right">Cancelar</button>
        
    </form>
</div>

<div class="alert alert-success" *ngIf="isSuccessful">
    <h4>Sêmen cadastrado com sucesso!</h4>
</div>

<div *ngIf="f.submitted && isCreatedFailed">
    <div class="alert alert-warning">
        Falha ao cadastrar sêmen!<br />{{ errorMessage }}
    </div>
    <button  (click)="irParaListagem()" class="btn btn-success">Voltar</button>
</div>

<div style="margin-top: 20px">
    <pre>Sêmen: <br>{{ semen | json }}</pre>
</div>