<h2>Criar Animal</h2>
<div [hidden]="submitted" style="width: 400px;">
    <form 
    name="form" 
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    >
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]="animal.nome" name="nome">
        </div>

        <div class="form-group">
            <label for="brinco">Número do brinco</label>
            <input type="number" class="form-control" id="brinco" required [(ngModel)]="animal.brinco" name="brinco" #brinco="ngModel">
            <div class="alert-danger" *ngIf="brinco.errors && (brinco.invalid && brinco.touched)">
                <small class="text-danger" *ngIf="brinco.errors.required">Brinco é um campo necesário</small>
              </div>
        </div>

        <div class="form-group">
            <label for="registro">Número do registro</label>
            <input type="number" class="form-control" id="registro" required [(ngModel)]="animal.registro" #registro="ngModel"
                name="registro">
            <div class="alert-danger" *ngIf="registro.errors && (registro.invalid && registro.touched)">
                <small class="text-danger" *ngIf="registro.errors.required">Número do registro é um campo necesário</small>
            </div>
        </div>


        <div class="form-group">
            <label for="dtnasc">Data de nascimento</label>
            <div class="input-group">
                <input type="date" class="form-control" name="dtnasc" [(ngModel)]="animal.dataNasc" #nasc="ngModel">
            </div>
            <div class="alert-danger" *ngIf="nasc.errors && (nasc.invalid && nasc.touched)">
                <small class="text-danger" *ngIf="nasc.errors.required">Data de nascimento é um campo necesário</small>
              </div>
        </div>

        <div class="form-group">
            <label for="raca">Raça:</label>
            <select class="form-control" id="raca" required [(ngModel)]="animal.raca" name="raca">
                <option *ngFor="let raca of racas" [ngValue]="raca">{{raca.descricao}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-check-label">Sexo</label><br>
            <div class="form-check form-check-inline">

                <input type="radio" class="form-check-input" [(ngModel)]="animal.sexo" value="m" required name="genero"
                    id="macho">
                <label class="form-check-label" for="macho"> Macho</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" [(ngModel)]="animal.sexo" value="f" required name="genero"
                    id="femea">
                <label class="form-check-label" for="femea">Fêmea</label>
            </div>
        </div>

        <div class="form-group">
            <h3>Pai:</h3>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="paiList" #paiList id="checkbPaiList">
            <label class="form-check-label" for="checkbPaiList">
                O pai desse animal não é do meu rebanho, escrever o nome.
            </label>
          </div>
        <div class="form-group" *ngIf="paiList.checked">
            <label for="pai">Escreva o nome do pai do animal</label>
            <input type="text" class="form-control" id="pai" [(ngModel)]="animal.pai" name="pai">
        </div>
        

        <div class="form-group" *ngIf="!paiList.checked">
            <label for="raca">Selecione o pai dentre os seus animais</label>
            <select class="form-control" id="pais" [(ngModel)]="animal.id_pai" name="pai">
                <option *ngFor="let pai of pais" [ngValue]="pai">{{pai.nome}}    ---    Nascimento: {{pai.dataNasc | date: 'dd/MM/yyyy'}}</option>
            </select>
        </div>

        </div>

        <div class="form-group">
            <h3>Mãe:</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="maeList" #maeList id="checkbMaeString" >
            <label class="form-check-label" for="checkbMaeString">
              A mãe desse animal não é do meu rebanho, escrever o nome.
            </label>
          </div>
        <div class="form-group" *ngIf="maeList.checked">
            <label for="mae">Escreva o nome da mãe</label>
            <input type="text" class="form-control" id="mae" [(ngModel)]="animal.mae" name="mae">
        </div>

        <div class="form-group" *ngIf="!maeList.checked">
            <label for="maes">Selecione a mãe dentre os seus animais</label>
            <select class="form-control" id="maes" [(ngModel)]="animal.id_mae" name="mae">
                <option *ngFor="let mae of maes" [ngValue]="mae">{{mae.nome}}    ---    Nascimento: {{mae.dataNasc | date: 'dd/MM/yyyy'}}</option>
            </select>
        </div>

        </div>

        <button [disabled]="f.form.invalid" type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Animal criado com sucesso!</h4>

</div>