<h2>Cadastro de Animal</h2>
<div  class="container">
    <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" class="needs-validation" [ngClass]="aplicaErroForm(f)" novalidate>

        <div class="form-group row" >
            <div class="col-sm-6">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="animal.nome">
            </div>

            <div class="col-sm-6">
                <label for="raca">Raça: *</label>
                <select class="form-control" id="raca" name="raca" required [(ngModel)]="animal.raca" >
                    <option *ngFor="let raca of racas" [ngValue]="raca">{{raca.descricao}}</option>
                </select>
                <div class="invalid-feedback">
                    Raça é um campo obrigatório.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
                <label for="brinco">Número do brinco: *</label>
                <input type="number" class="form-control" id="brinco" name="brinco" required  [(ngModel)]="animal.brinco">
                <div class="invalid-feedback">
                   Número do brinco é um campo obrigatório.
                </div>
            </div>
            <div class="col-sm-2">
                <label for="registro">Número do registro: *</label>
                <input type="number" class="form-control" id="registro" name="registro" required [(ngModel)]="animal.registro">
                <div class="invalid-feedback">
                    Número do registro é um campo obrigatório
                </div>    
            </div>
            <div class="col-sm-2">
                <label for="dtnasc">Data de nascimento:*</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="dtnasc" name="dtnasc" required [(ngModel)]="animal.dataNasc">
                    <div class="invalid-feedback">
                        Data de nascimento é um campo obrigatório
                    </div>  
                </div>
                
            </div>
            <div class="col-sm-3 align-self-center">
                <label for="genero">Sexo: *</label>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="macho" name="genero" required [(ngModel)]="animal.sexo" value="m">
                    <label class="custom-control-label" for="macho">Macho</label>
                    <!--<div class="invalid-feedback">Sexo é um campo obrigatótio</div>-->
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="femea" name="genero" required [(ngModel)]="animal.sexo" value="f">
                    <label class="custom-control-label" for="femea">Fêmea</label>
                </div>
                
            </div>
            <div class="col-sm-3">
                <label for="origem">Origem do animal: *</label>
                <select class="form-control" id="origem" name="origem" required [(ngModel)]="animal.origemAnimal" >
                    <option *ngFor="let origem of origemAnimal" [ngValue]="origem">{{origem.descricao}}</option>
                </select>
                <div class="invalid-feedback">
                    Origem do animal é um campo obrigatório.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <h3>Pai:</h3>
                <div class="form-group" *ngIf="!paiList.checked">
                    <label for="raca">Selecione o pai do seu rebanho:</label>
                    <select class="form-control" id="pais" name="pai" [(ngModel)]="animal.id_pai">
                        <option *ngFor="let pai of pais" [ngValue]="pai">{{pai.nome}}    ---    Nascimento: {{pai.dataNasc | date: 'dd/MM/yyyy'}}</option>
                    </select>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbPaiList" (change)="paiList" #paiList >
                    <label class="form-check-label" for="checkbPaiList">
                        O pai desse animal não é do meu rebanho (escrever o nome).
                    </label>
                </div>
                <div class="form-group" *ngIf="paiList.checked">
                    <input type="text" class="form-control" id="pai" name="pai" [(ngModel)]="animal.pai">
                </div>
            </div>

            <div class="col-sm-6">
                <h3>Mãe:</h3>
                <div class="form-group" *ngIf="!maeList.checked">
                    <label for="maes">Selecione a mãe do seu rebanho:</label>
                    <select class="form-control" id="maes" name="mae" [(ngModel)]="animal.id_mae">
                        <option *ngFor="let mae of maes" [ngValue]="mae">{{mae.nome}}    ---    Nascimento: {{mae.dataNasc | date: 'dd/MM/yyyy'}}</option>
                    </select>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbMaeString" (change)="maeList" #maeList  >
                    <label class="form-check-label" for="checkbMaeString">A mãe desse animal não é do meu rebanho (escrever o nome).</label>
                </div>
                <div class="form-group" *ngIf="maeList.checked">
                    <input type="text" class="form-control" id="mae" name="mae" [(ngModel)]="animal.mae" >
                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-success ">Salvar</button>
        <button (click)="irParaListagem()" class="btn btn-info float-right">Cancelar</button>
        
    </form>
</div>

<div *ngIf="errorMessage!=''">
    <div class="alert alert-warning">
        Falha ao criar animal!<br />{{ errorMessage }}
    </div>
</div>